{
  "exclude": [".*\\.d\\.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  },
  "minify": false,
  "sourceMaps": true
}
